# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings






Day-1


Rearrange of digits:
class Solution:
    def smallestnum(self,N):
        
        l=sorted([int(x) for x in str(N)])
        res=""
        a=""
        for i in l:
            if i==0:
                a+=str(i)
            else:
                res+=str(i)
        return int(res[0]+a+res[1:])
        
 Mics and jury:
 class Solution{
    static int micsandjury(int N,int M,int[] teams){
        int l=1,r=0,ans=0;
        for(int i=0;i<M;i++){
         if(r<teams[i]){
         r=teams[i];
         }
        }
        while(l<=r){
            int mid=(l+r)/2;
            int grp=0;
            for(int i=0;i<M;i++){
                if(teams[i]%mid!=0){
                grp+=teams[i]/mid+1;}
                else{
                grp+=teams[i]/mid;}
            }
            if(grp>N){
                l=mid+1;}
            else{
               	ans=mid;
                r=mid-1;}
        }
        return ans;
    }
}


Day-2


wave array:
class Solution:
    def converToWave(self,arr,N):
        arr.sort()
        for i in range(0,N-1,2):
            arr[i]=arr[i+1]
            arr[i+1]=arr[i]
        return arr
        
        
Strange Matrix:
def get(self, i, j):
      return a.get(i,j)
      
    def solve(self, R, C):
        
        max=0
        j=-1
        for i in range(C):
            if(self.get(0,i)==1):
                j=i
                break
        if(j==-1):
            j=C-1
        for i in range(R):
            while(j>=0 and self.get(i,j)==1):
                j-=1
                max=i
        return max

.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
